<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCicoP-dzAF3xU9qhznD8BLhqwD87HcAzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>827890915131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartExpenseTracker</string>
	<key>PROJECT_ID</key>
	<string>smart-expense-tracker-471d6</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-expense-tracker-471d6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827890915131:ios:a7874f0baf65687b21891e</string>
</dict>
</plist>